<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lgcns.tct.mapper.UsedataMapper">

	<select id="getUseData" parameterType="String" resultType="com.lgcns.tct.dto.UsedataDto">
        SELECT COUNT(*) AS usage_count
     		, SUM(use_time) AS usage_minute
     		, SUM(use_distance) AS usage_meter
     		, round(SUM(use_distance)/1000*0.232, 1) AS carbon_reduction
		FROM kickboard_svc.t_svc_use
		WHERE 1=1
		AND user_no=#{user_no} 
		AND DATE(use_start_dt)>=#{start_dt}
    </select>

	<select id="getUsedList" parameterType="String" resultType="com.lgcns.tct.dto.UsedListDto">
	<!-- 🔨🔨이곳에 코드를 작성하세요! -->
		SELECT a.use_no
     		, a.use_distance
     		, a.use_time
     		, a.use_start_dt
     		, a.use_end_dt
     		, b.pay_datetime
     		, IFNULL(CASE WHEN b.PAYMETHOD_CODE = 'C' THEN b.PAY_COST END, 0) AS card_pay
     		, IFNULL(CASE WHEN b.PAYMETHOD_CODE = 'P' THEN b.PAY_COST END, 0) AS point_pay
		FROM kickboard_svc.t_svc_use a, kickboard_svc.T_SVC_USE_PAY b
		WHERE 1=1
		AND a.use_no = b.use_no
		AND user_no=#{user_no} 
		AND DATE(a.use_start_dt)>=#{start_dt}
		ORDER BY a.use_start_dt DESC
    </select>  
	
</mapper>