* {
  box-sizing: border-box;
}

.App {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.category {
  margin : 0.2rem;
}

.category:hover {
  font-weight: bold;
  cursor: pointer;
}

.contents {
  border: 1px solid black;
  display: grid;
  grid-template-columns: 0.5fr 1fr 3fr 2fr;
  column-gap: 1rem;
}

ul {
  list-style: none;
  padding-left: 0;
}

.num, .title, .singer {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  min-width: 0;
  max-width: 100%;
}

.num, .img, .singer {
  place-self: center;
}

.title {
  align-self: center;
}

.img {
  height: 4rem;
  width: 4rem;
  padding: 0.5rem;
}

.gototop {
  position: fixed;
  bottom: 5px;
  right: 5px;
}