
.tabs li{
    font-size: 1.5rem;
    font-weight: bold;
    display: inline-block;
    color: black;
    padding: 0.7rem;
}
.tabs li.active{
    color: pink;
}

.overflowClass {
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    white-space: nowrap;
}